---
layout: base
title: Autores
---

<section>
  <div class="header-home">
    <div class="container-sm">
      <h1 class="title">Pleased to meet you!</h1>
      <div class="contact">
        <a href="https://github.com/lfvilella/workflow-qr-code2auth" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-github-square"></i></a>
      </div>
    </div>
  </div>

  {% include navbar.html %}

  <br><br><br>

  <div class="container-sm">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img class="my-photo wow animate__animated animate__zoomIn" src="static/img/me-min.jpg">
      </div>
      <div class="col-md-8">
        <p><b>Olá! Meu nome é Luís Felipe, sou apaixonado por tecnologia e resolver problemas de forma criativa e
            tecnologica. Atualmente meu foco de trabalho é o backend utilizando Python.
          </b>
        </p>
      </div>
    </div>
    <br><br><br>
  </div>
  {% include footer.html %}
</section>
