---
layout: base
title: QRCode2Auth
---

<section id="app">
  {% include navbar.html %}
  <br><br>

  <div class="container-sm" v-if="isHomePage">
    <h1>É viável usar QR Code no meu problema de autenticação?</h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <button type="button" class="btn btn-success" @click="startDiagnostic()">Iniciar Diagnóstico</button>
  </div>

  <div class="container-sm" v-if="!isHomePage && !isDiagnosticPage">
      <div v-for="item in questionsForState">
        <div class="card-question" v-if="state == item.state && forkType == item.forkType">
          <div class="card-question-left-side">
            <div class="question-content"><p>[[ item.question ]]</p></div>
            <div class="question-helper" v-if="item.helper">
              <button
                :id="`open-popover-btn-${item.id}`"
                @click="openQuestionHelperPopover(`popover-${item.id}`, `open-popover-btn-${item.id}`)"
              >
                ?
              </button>
              <div class="question-helper-popover" :id="`popover-${item.id}`" style="display: none">
                <button
                  @click="closeQuestionHelperPopover(`popover-${item.id}`, `open-popover-btn-${item.id}`)"
                >
                  X
                </button>
                <p>[[ item.helper ]]</p>
              </div>
            </div>
          </div>
          <div class="card-question-right-side">
            <div class="card-question-answers">
              <div class="form-check form-check-inline"  v-for="answer in item.answers">
                <input class="form-check-input" type="radio" :name="`inlineRadioOptions-${item.id}`" :id="`${answer.id}`">
                <label class="form-check-label" :for="`${answer.id}`">[[ answer.value ]]</label>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <button type="button" class="btn btn-success" @click="goToNextPage()">Confirmar</button>
  </div>

  <div class="container-sm" v-if="isDiagnosticPage">
    <div class="card-diagnostic card-diagnostic-positive" v-if="shouldYouUseQRCode">
      <h3><span class="diagnostic-positive-text">É viável</span> usar QR Code em seu problema.</h3>
      <br>
      <ul>
        <li v-for="item in diagnostic">
          [[ item ]]
        </li>
      </ul>

      <h5>Sugestões:</h5>
      <ul>
        <li v-for="item in suggestions">
          [[ item ]]
        </li>
      </ul>
    </div>
    <div class="card-diagnostic card-diagnostic-negative" v-if="!shouldYouUseQRCode">
      <h3><span class="diagnostic-negative-text">Não é viável</span> usar QR Code em seu problema.</h3>
      <br>
      <ul>
        <li v-for="item in diagnostic">
          [[ item ]]
        </li>
      </ul>
    </div>
  </div>

  <br><br>
  {% include footer.html %}
</section>

<script src="static/vue-app.js" type="module"></script>