---
layout: base
title: QRCode2Auth
---

<section id="app">
  {% include navbar.html %}
  <br><br>

  <div class="container-sm" v-if="isHomePage">
    <h2 class="text-center">É viável usar QR Code no meu problema de autenticação?</h2>
    <br>

    <p>A autenticação é um problema antigo, no qual vem sendo enfrentado há milênios, e não sendo necessariamente digital.
      Entretanto, com o passar do tempo já na era moderna e digital com sistemas de informações robustos e de alta tecnologia
      armazenando dados digitais, a autenticação ainda se prova com um problema enfrentado por todos e sem uma solução única
      que atende todos os problemas. <a href="https://onlinelibrary.wiley.com/doi/book/10.1002/9781119672357"><cite>Roger A. Grimes</cite></a></p>

    <p>Segundo o autor <a href="https://marceljm.com/"><cite>Marcel Machado Jacques</cite></a>, não há uma única forma de
      autenticação que solucione todos os problemas de autenticação nos sistemas de informação, e assim elas necessitam
      serem combinadas de maneira apropriada para assim formar um solução poderosa e eficiente</p>

    <p>O QR Code tem diversas aplicabilidades podendo ser usado de diversas formas flexíveis e elegantes. Porém, para descobrir sobre
      essas possibilidades de uso de forma correta, eficiente e seguindo o propósito da tecnologia para um determinado problema é uma
      tarefa difícil, que envolve muito estudo e pesquisa, pois os assuntos estão dispersos nas bases de dados.</p>

    <p>Sendo assim, é um fato que há necessidade de um lugar centralizado de informações oficiais e confiáveis sobre as diversidades
      do uso do QR Code e como aplicar a tecnologia para um determinado problema da melhor forma. Em vista disso, o presente website
      é uma maneira flexível e representativa do original trabalho (podendo ser acessado na seção "Artigo") que segue o mesmo objetivo,
      mudando apenas a apresentação das perguntas, ou seja, ao iniciar o diagnóstico será seguido um fluxo de perguntas e respostas
      para que um novo usuário que deseja usar o QR Code em seu problema possa recorrer a esse trabalho e sanar suas dúvidas de forma eficaz.</p>

    <button type="button" class="btn btn-success" @click="startDiagnostic()">Iniciar Diagnóstico</button>
  </div>

  <div class="container-sm" v-if="!isHomePage && !isDiagnosticPage">
      <div v-for="item in questionsForState">
        <div class="card-question" v-if="state == item.state && forkType == item.forkType">
          <div class="card-question-left-side">
            <div class="question-content"><p>[[ item.question ]]</p></div>
            <div class="question-helper" v-if="item.helper">
              <button
                :id="`open-popover-btn-${item.id}`"
                @click="openQuestionHelperPopover(`popover-${item.id}`, `open-popover-btn-${item.id}`)"
              >
                ?
              </button>
              <div class="question-helper-popover" :id="`popover-${item.id}`" style="display: none">
                <button
                  @click="closeQuestionHelperPopover(`popover-${item.id}`, `open-popover-btn-${item.id}`)"
                >
                  X
                </button>
                <p>[[ item.helper ]]</p>
              </div>
            </div>
          </div>
          <div class="card-question-right-side">
            <div class="card-question-answers">
              <div class="form-check form-check-inline"  v-for="answer in item.answers">
                <input class="form-check-input" type="radio" :name="`inlineRadioOptions-${item.id}`" :id="`${answer.id}`">
                <label class="form-check-label" :for="`${answer.id}`">[[ answer.value ]]</label>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <button type="button" class="btn btn-success" @click="goToNextPage()">Confirmar</button>
  </div>

  <div class="container-sm" v-if="isDiagnosticPage">
    <div class="card-diagnostic card-diagnostic-positive" v-if="shouldYouUseQRCode">
      <h3><span class="diagnostic-positive-text">É viável</span> usar QR Code em seu problema.</h3>
      <br>
      <ul>
        <li v-for="item in diagnostic">
          [[ item ]]
        </li>
      </ul>

      <h5>Sugestões:</h5>
      <ul>
        <li v-for="item in suggestions">
          [[ item ]]
        </li>
      </ul>
    </div>
    <div class="card-diagnostic card-diagnostic-negative" v-if="!shouldYouUseQRCode">
      <h3><span class="diagnostic-negative-text">Não é viável</span> usar QR Code em seu problema.</h3>
      <br>
      <ul>
        <li v-for="item in diagnostic">
          [[ item ]]
        </li>
      </ul>
    </div>
  </div>

  <br><br>
  {% include footer.html %}
</section>

<script src="static/vue-app.js" type="module"></script>